/* 清除格式 */
.warpper{
    margin:0 auto;
    width:1200px;
}
/* 导航栏 */
#dhl{
    /* 宽高背景 */
    height: 60px;
    background-color: #799078;
    /* flex布局 */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* 字体 */
    font-size: 30px;
    font-weight: 700;
    font-family: 方正舒体;
    color:#3b3f32;
}
/* 导航栏标题 */
#dhl .span1{
    font-size: 40px;
}
/* 主界面 */
#zjm{
    display: flex;
    justify-content: center;
    /* 宽高背景 */
    width: 1370px;
    background-image:url(../生生背景图.png);
    background-size: 100%;
}
#zjmnr{
    width: 1000px;
    background-color: #e5ded3;
    margin: 30px 40px;
    padding: 20px 30px 10px;
    box-shadow: 3px 3px 5px 5px #3e4d3e;
}
#zjmbt{
    /* flex布局 */
    display: flex;
    justify-content: space-around;
    /* 字体 */
    font-size: 60px;
    font-weight: 700;
    font-family: 方正舒体;
    color: #3e4d3e;
}
#zjmjz{
    /* flex布局 */
    display: flex;
    justify-content: space-around;
    /* 字体 */
    font-size: 30px;
    font-weight: 400;
    font-family: 方正舒体;
    color: #3e4d3e;
}
/* 图片 */
#zjmtp{
    /* flex布局 */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin: 5px 0px;
}
#zjmxx{
    display: flex;
    justify-content: space-evenly;
    /* 边距 */
    margin: 40px  0px 20px;
}
#xxal,#xxzt,#xxzx{
    /* 边框形状 */
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #799078;
    padding: 5px 37px;
    /* 字体 */
    font-size: 30px;
    font-weight: 400;
    font-family: 华文新魏;
    color: #3b3f32;
}